openapi: 3.0.3
info:
  title: Emitwise Facilities Projects API
  version: v1
  description: 'The Emitwise API allows customers to interact with the Emitwise carbon

    accounting platform programmatically. The API exposes facilities, projects,

    schema metadata, file uploads of activity data, and aggregated supplier

    emissions data so customers can integrate Scope 1, 2, and 3 emissions

    measurement and product carbon footprint (PCF) workflows into their own

    systems.


    Access requires an Emitwise customer account; new API keys are created from

    the Company settings area of the dashboard and presented to the API as

    bearer credentials. As of July 2025, Emitwise has been acquired by Green

    Project Technologies; the API and developer portal remain live at

    api.emitwise.com and docs.emitwise.com while the platform is integrated

    into Green Project''s broader decarbonization product.

    '
  contact:
    name: Emitwise (Green Project Technologies)
    url: https://docs.emitwise.com/
  license:
    name: Proprietary
servers:
- url: https://api.emitwise.com/v1
  description: Production
security:
- bearerAuth: []
tags:
- name: Projects
  description: Sustainability initiatives that group emissions data.
paths:
  /projects:
    get:
      tags:
      - Projects
      summary: List Projects
      description: List all sustainability projects associated with the customer's organization.
      operationId: listProjects
      responses:
        '200':
          description: A list of projects.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Project'
components:
  schemas:
    Project:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        description:
          type: string
        status:
          type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Emitwise API key generated from Company settings, presented as a Bearer token.
