openapi: 3.0.3
info:
  title: Emitwise Facilities Files API
  version: v1
  description: 'The Emitwise API allows customers to interact with the Emitwise carbon

    accounting platform programmatically. The API exposes facilities, projects,

    schema metadata, file uploads of activity data, and aggregated supplier

    emissions data so customers can integrate Scope 1, 2, and 3 emissions

    measurement and product carbon footprint (PCF) workflows into their own

    systems.


    Access requires an Emitwise customer account; new API keys are created from

    the Company settings area of the dashboard and presented to the API as

    bearer credentials. As of July 2025, Emitwise has been acquired by Green

    Project Technologies; the API and developer portal remain live at

    api.emitwise.com and docs.emitwise.com while the platform is integrated

    into Green Project''s broader decarbonization product.

    '
  contact:
    name: Emitwise (Green Project Technologies)
    url: https://docs.emitwise.com/
  license:
    name: Proprietary
servers:
- url: https://api.emitwise.com/v1
  description: Production
security:
- bearerAuth: []
tags:
- name: Files
  description: Activity-data file uploads used to calculate emissions.
paths:
  /files:
    post:
      tags:
      - Files
      summary: Upload Activity Data File
      description: Upload a tabular activity-data file (matching the active schema) so emissions can be calculated.
      operationId: uploadFile
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
                  description: The tabular activity-data file (CSV or similar).
                facilityId:
                  type: string
                  description: Optional facility the file applies to.
                projectId:
                  type: string
                  description: Optional project the file applies to.
      responses:
        '201':
          description: File accepted for processing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/File'
    get:
      tags:
      - Files
      summary: List Files
      description: List previously uploaded activity-data files.
      operationId: listFiles
      responses:
        '200':
          description: A list of uploaded files.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/File'
  /files/{fileId}:
    get:
      tags:
      - Files
      summary: Get File
      description: Retrieve details and processing status for a previously uploaded file.
      operationId: getFile
      parameters:
      - in: path
        name: fileId
        required: true
        schema:
          type: string
      responses:
        '200':
          description: File details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/File'
components:
  schemas:
    File:
      type: object
      properties:
        id:
          type: string
        filename:
          type: string
        status:
          type: string
          enum:
          - uploaded
          - processing
          - processed
          - failed
        uploadedAt:
          type: string
          format: date-time
        facilityId:
          type: string
          nullable: true
        projectId:
          type: string
          nullable: true
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Emitwise API key generated from Company settings, presented as a Bearer token.
