openapi: 3.2.0
info:
  title: Emitwise Schema API
  version: v1
  description: 'The Emitwise API allows customers to interact with the Emitwise carbon

    accounting platform programmatically.'
  contact:
    name: Emitwise (Green Project Technologies)
    url: https://docs.emitwise.com/
  license:
    name: Proprietary
servers:
- url: https://api.emitwise.com/v1
  description: Production
security:
- bearerAuth: []
tags:
- name: Schema
  description: Activity data schema definitions.
paths:
  /schema:
    get:
      tags:
      - Schema
      summary: Get Activity Data Schema
      description: Retrieve the schema definition used to validate uploaded activity data files.
      operationId: getSchema
      responses:
        '200':
          description: The active schema definition.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Schema'
components:
  schemas:
    Schema:
      type: object
      description: Active schema definition for activity-data files.
      properties:
        version:
          type: string
        fields:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
              type:
                type: string
              required:
                type: boolean
              description:
                type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Emitwise API key generated from Company settings, presented as a Bearer token.
