openapi: 3.0.3
info:
  title: Emitwise Facilities Schema API
  version: v1
  description: 'The Emitwise API allows customers to interact with the Emitwise carbon

    accounting platform programmatically. The API exposes facilities, projects,

    schema metadata, file uploads of activity data, and aggregated supplier

    emissions data so customers can integrate Scope 1, 2, and 3 emissions

    measurement and product carbon footprint (PCF) workflows into their own

    systems.


    Access requires an Emitwise customer account; new API keys are created from

    the Company settings area of the dashboard and presented to the API as

    bearer credentials. As of July 2025, Emitwise has been acquired by Green

    Project Technologies; the API and developer portal remain live at

    api.emitwise.com and docs.emitwise.com while the platform is integrated

    into Green Project''s broader decarbonization product.

    '
  contact:
    name: Emitwise (Green Project Technologies)
    url: https://docs.emitwise.com/
  license:
    name: Proprietary
servers:
- url: https://api.emitwise.com/v1
  description: Production
security:
- bearerAuth: []
tags:
- name: Schema
  description: Activity data schema definitions.
paths:
  /schema:
    get:
      tags:
      - Schema
      summary: Get Activity Data Schema
      description: Retrieve the schema definition used to validate uploaded activity data files.
      operationId: getSchema
      responses:
        '200':
          description: The active schema definition.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Schema'
components:
  schemas:
    Schema:
      type: object
      description: Active schema definition for activity-data files.
      properties:
        version:
          type: string
        fields:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
              type:
                type: string
              required:
                type: boolean
              description:
                type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Emitwise API key generated from Company settings, presented as a Bearer token.
