openapi: 3.2.0
info:
  title: Emitwise Facilities API
  version: v1
  description: 'The Emitwise API allows customers to interact with the Emitwise carbon

    accounting platform programmatically.'
  contact:
    name: Emitwise (Green Project Technologies)
    url: https://docs.emitwise.com/
  license:
    name: Proprietary
servers:
- url: https://api.emitwise.com/v1
  description: Production
security:
- bearerAuth: []
tags:
- name: Facilities
  description: Physical or virtual locations whose emissions are tracked.
paths:
  /facilities:
    get:
      tags:
      - Facilities
      summary: List Facilities
      description: List all facilities (offices, factories, business units) tracked in the customer's Emitwise account.
      operationId: listFacilities
      responses:
        '200':
          description: A paginated list of facilities.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Facility'
components:
  schemas:
    Facility:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        type:
          type: string
          description: Physical or virtual classification (e.g. office, factory, business unit).
        location:
          type: string
        country:
          type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Emitwise API key generated from Company settings, presented as a Bearer token.
